@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@100;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

ul {
  list-style: none;
}

h1 {
  font-family: Bebas Neue;
  font-weight: 700;
  font-size: 36px;
}

h2 {
  margin: 1rem 0;
}

p {
  margin-bottom: 1rem;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 100px 1fr 50px;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header,
footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

header {
  grid-area: header;
}

main {
  padding: 2rem auto;
  margin: 0 auto;
  grid-area: main;
}

footer {
  grid-area: footer;
}

img {
  padding: 10px 0;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2rem;
}

.flex-container > section {
  padding: 0px;
  margin-top: 2rem;
}

.flex-top {
  flex-basis: 100vw;
}

.flex-left {
  flex-grow: 1;
}

.flex-right {
  flex-grow: 2;
  border: solid 2px grey;
  max-width: 500px;
}

.tg {
  border: none;
  border-collapse: collapse;
  border-color: #ccc;
  border-spacing: 0;
  min-width: 100%;
}
.tg td {
  background-color: #fff;
  border-color: #ccc;
  border-style: solid;
  border-width: 0px;
  color: #333;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.tg th {
  background-color: #f0f0f0;
  border-color: #ccc;
  border-style: solid;
  border-width: 0px;
  color: #333;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.tg .tg-buh4 {
  background-color: #f9f9f9;
  text-align: left;
  vertical-align: top;
}
.tg .tg-0lax {
  text-align: left;
  vertical-align: top;
}
