@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@100;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

ul {
  list-style: none;
}

h1 {
  font-family: Bebas Neue;
  font-weight: 700;
  font-size: 36px;
}

h2 {
  margin: 1rem 0;
}

p {
  margin: 1rem 0;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 100px 1fr 50px;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header,
footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

header {
  grid-area: header;
}

main {
  padding: 2rem auto;
  margin: 0 auto;
  grid-area: main;
}

footer {
  grid-area: footer;
}

img {
  padding: 10px 0;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2rem;
}

.flex-container > section {
  padding: 8px;
}

.flex-top {
  flex-basis: 100vw;
  height: 120px;
}

.flex-left {
  flex-grow: 1;
}

.flex-right {
  flex-grow: 5;
}
